
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
        }

        .hidden {
            display: none;
        }

        .form-container {
            max-width: 1000px;
            margin: 50px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }




        input[type="text"],
        input[type="number"],
        input[type="file"],
        input[type="password"],
        input[type="email"],
        input[type="date"],
         input[type="tel"],
        select {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="file"] {
            margin-bottom: 20px;
        }

        .progress-bar-container {
            margin-bottom: 20px;
            position: relative;
            height: 10px;
            background-color: #ddd;
            border-radius: 5px;
            overflow: hidden;
        }

        .progress-bar {
            width: 0;
            height: 100%;
            background-color: #007bff;
            border-radius: 5px;
        }

        .navigation-buttons {
            margin-top: 20px;
            text-align: center;
        }

        .navigation-buttons button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 12px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .navigation-buttons button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .navigation-buttons button:hover {
            background-color: #0056b3;
        }

        .submit-button {
            background-color: #28a745;
        }

        .submit-button:hover {
            background-color: #218838;
        }

 
       
/* Style for the profile heading */
.profile-heading {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #007bff; /* Adjust the background color as per your design */
    border-radius: 10px;
    text-align: center;
}


 .profile-heading h2{
            text-align: center;
             color: #fff; /* Adjust the text color as per your design */
    margin: 0;
            font-size: 30px;
    
            font-family: 'Arial', sans-serif;
            transition: all 0.5s ease;
            animation: zoomInOut 5s infinite alternate;
        }

        @keyframes zoomInOut {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1);
            }
        }